body {
  background: #FFFFFF;
  text-align: center;
  padding-top: 30px;
}

@font-face {
  font-family: DosisLight; src: url('dosis/Dosis-Light.otf');
}
@font-face {
  font-family: DosisExtraLight; src: url('dosis/Dosis-ExtraLight.otf');
}
@font-face {
  font-family: PaperDaisy; src: url('paper_daisy/paperdaisy-demo.ttf');
}
@font-face {
  font-family: Adam; src: url('adam/Adam.otf');
}

/* Effect 1: Brackets */
.cl-effect-1 a::before,
.cl-effect-1 a::after {
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}

.cl-effect-1 a::before {
	margin-right: 10px;
	content: '[';
	-webkit-transform: translateX(20px);
	-moz-transform: translateX(20px);
	transform: translateX(20px);
}

.cl-effect-1 a::after {
	margin-left: 10px;
	content: ']';
	-webkit-transform: translateX(-20px);
	-moz-transform: translateX(-20px);
	transform: translateX(-20px);
}

.cl-effect-1 a:hover::before,
.cl-effect-1 a:hover::after,
.cl-effect-1 a:focus::before,
.cl-effect-1 a:focus::after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed;
  top: 0;
  width: 100%;
  opacity: 0.95;
}

#name {
  float:left;
  display:block;
  padding: 12px 12px;
  font-family: PaperDaisy, sans-serif;
  font-size: 38px;
}

#name a {
  text-decoration: none;
  color:black;
}

#name a:hover {
  color: #c36464;
}

li a {
  float: right;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 10px;
  text-decoration: none;
  font-family: DosisLight, sans-serif;
  font-size: 15px;
}

li a:hover {
  color: #c36464;
}

.active {
  background-color: #FFEBEB;
}

#main {
  width: 1050px;
  height: 950px;
  background: #FFFFFF;
  margin: 50px auto;
  color:#858585;
}

#main p {
    margin-top: 25px;
    text-align: center;
    animation: fadein 2s;
    -moz-animation: fadein 2s; /* Firefox */
    -webkit-animation: fadein 2s; /* Safari and Chrome */
    -o-animation: fadein 2s; /* Opera */
}

h1 {
  text-align: center;
  font-family: Adam, sans-serif;
	font-size: 45px;
	font-style: normal;
	font-variant: normal;
	font-weight: bold;
	line-height: 26.4px;
  padding-bottom: 10px;
  color:black;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

h1:after {
  background: none repeat scroll 0 0 #111;
  content: " ";
  display: block;
  height: 1px;
  margin: 24px auto 0;
  width: 80px; }

h2 {
  text-align: left;
  font-family: DosisLight, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:black;
	line-height: 26.4px;
  animation: fadein 2s;
  padding: 1px;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

h3 {
  text-align: right;
  font-family: DosisLight, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:black;
	line-height: 26.4px;
  animation: fadein 2s;
  padding: 1px;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

h4 {
  text-align: center;
  font-family: DosisLight, sans-serif;
	font-size: 22px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
  color:black;
	line-height: 26.4px;
  animation: fadein 2s;
  padding: 1px;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

p {
  font-family: DosisExtraLight, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
}

#pleft {
  font-family: DosisExtraLight, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  text-align: left;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

#pright {
  font-family: DosisExtraLight, sans-serif;
	font-size: 17px;
	font-style: normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  text-align: right;
  animation: fadein 2s;
  -moz-animation: fadein 2s; /* Firefox */
  -webkit-animation: fadein 2s; /* Safari and Chrome */
  -o-animation: fadein 2s; /* Opera */
}

a {
  color: #c36464;
  text-decoration: none;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
  transition:.3s;
}

footer {
  position:relative;
  bottom:0;
  width:100%;
  height:0px;
  border-top: solid 1px #d1d1d1;
  font-size: 1px;
  color:#828282;
}

@keyframes fadein {
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-moz-keyframes fadein { /* Firefox */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-webkit-keyframes fadein { /* Safari and Chrome */
    from {
        opacity:0;
    }
    to {
        opacity:1;
    }
}
@-o-keyframes fadein { /* Opera */
    from {
        opacity:0;
    }
    to {
        opacity: 1;
    }
}
